.jumbotron {
    background-image: url("../img/grapes-jumbotron-crop.jpeg");
    background-position: center;
    background-repeat: no-repeat;
    padding: 2rem;
    text-align: center;
}
.jumbotron-header {
    font-size: 4.5rem;
    margin: 1rem 0;
    color: white;
}
.jumbotron-description {
    font-size: 1.5rem;
    color: white;
}
ul {
    list-style-type: none;
    padding: 0;
}
.card-img {
    height: 200px;
    object-fit: cover;
}
