<!DOCTYPE html>
<html lang="pl"
      xmlns:th="https://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout}">

<main layout:fragment="content">

<h1>Oblicz ilość potrzebnego cukru!</h1>

<form method="post" th:action="@{/calc}" th:object="${wineCalculator}">
  <label th:for="alcoholPercentage">
    Oczekiwany % alkoholu
  </label>
    <input type="number" th:field="*{alcoholPercentage}" min="0" placeholder="12.00" step="0.01">
  <br>
  <label th:for="amountOfWineInCarboy">
    Ilość wina w balonie
  </label>
    <input type="number" th:field="*{amountOfWineInCarboy}" min="0" placeholder="25.00" step="0.01">
  <br>
  <button type="submit">Oblicz</button>
</form>
<br>
<div th:if="*{amountOfSugar != null}" class="alert alert-success" role="alert">
  <span th:text="'W celu otrzymania ' + *{alcoholPercentage} + '% alkoholu w ' + *{amountOfWineInCarboy} + ' litrach wina, należy dodać ' + *{amountOfSugar} + ' kg cukru.'"></span>
</div>
<div th:if="${error}" class="alert alert-danger" role="alert">
  <span th:text="${error}"></span>
</div>
</main>

</html>