<!DOCTYPE html>
<html lang="pl"
      xmlns:th="https://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout}">

<main layout:fragment="content">
    <div class="container">
        <div class="row mb-2 py-2">
            <ul>
                <li th:each="wine:${wines}">
                    <div class="card m-3">
                        <div class="row g-0">
                            <div class="col-md-2">
                                <div th:if="${wine.photo eq null}">
                                <img src="/img/place-holder.jpg" th:src="@{/img/place-holder.jpg}"
                                     class="img-fluid rounded-start" alt="wine"/>
                                </div>
                                <div th:if="${wine.photo ne null}">
                                    <img src="/img/place-holder.jpg" th:src="@{|/img/${wine.photo}|}"
                                         class="img-fluid rounded-start" alt="wine"/>
                                </div>
                            </div>
                            <div class="col-md-8">
                                <div class="card-body">
                                    <h3 class="card-title" th:text="${wine.name}">Name of wine</h3>
                                    <p class="card-text" th:text="${wine.shortDescription}">Krotki opis wina.</p>
                                    <p class="card-text">
                                        <small class="text-muted" th:text="'Added ' + ${wine.dateOfStart}">Utworzono...</small>
                                    </p>
                                    <a href="#" class="stretched-link" th:href="@{|/wine/${wine.id}|}">Wine details.</a>
                                </div>
                            </div>
                            <div class="col-md-2">
                                <!-- przyciski -->
                            </div>
                        </div>
                    </div>
                </li>
            </ul>
        </div>
    </div>
</main>

</html>