<!DOCTYPE html>
<html lang="pl"
      xmlns:th="https://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout}">

<main layout:fragment="content">
    <div class="container mt-3">
        <div class="p-2 p-md-5 text-white rounded bg-dark">
            <div class="row g-0">
                <div class="col-md-2">
                    <div th:if="${wine.photo eq null}">
                        <img src="/img/place-holder.jpg" th:src="@{/img/place-holder.jpg}"
                             class="img-fluid rounded" alt="wine"/>
                    </div>
                    <div th:if="${wine.photo ne null}">
                        <img src="/img/place-holder.jpg" th:src="@{|/img/${wine.photo}|}"
                             class="img-fluid rounded" alt="wine"/>
                    </div>
                </div>
                <div class="col-md-8 ms-4">
                    <h1 th:text="${wine.name}">Wine name</h1>
                    <p class="lead" th:text="${wine.longDescription}">Long wine description.</p>

                    <form th:action="@{|/wine/${wine.id}/step/add|}" th:object="${step}" method="post">
                        <div class="form-group">
                            <label for="description">Step description: </label>
                            <input type="text" id="description" th:field="*{description}" class="form-control"
                                   placeholder="Step description"/>
                        </div>
                        <div class="box-footer">
                            <button type="submit" class="btn btn-primary">
                                Add new step!
                            </button>
                        </div>
                    </form>
                </div>
                <div class="col-md-1 text-center">
                    <a th:href="@{|/wine/${wine.id}/delete|}" class="btn btn-danger">Delete wine</a>
                </div>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row mb-2 py-2">
            <ul>
                <li th:each="step:${wine.steps}">
                    <div class="card m-3">
                        <div class="row g-0">
                            <div class="col-md-8">
                                <div class="card-body">
                                    <p class="card-text" th:text="${step.description}">Krotki opis wina.</p>
                                    <p class="card-text">
                                        <small class="text-muted"
                                               th:text="'Dodano ' + ${step.dateOfStep}">Utworzono...</small>
                                    </p>
                                </div>
                            </div>
                            <div class="col-md-2">
                            </div>
                        </div>
                    </div>
                </li>
            </ul>
        </div>
    </div>


</main>
</html>