<!DOCTYPE html>
<html lang="pl"
      xmlns:th="https://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout}">

<main layout:fragment="content">
    <div class="container mt-3">
        <div class="p-2 p-md-5 text-white rounded bg-dark">
            <div class="row g-0">
                <div class="col-md-2">
                    <div th:if="${wine.photo eq null}">
                        <img src="/img/place-holder.jpg" th:src="@{/img/place-holder.jpg}"
                             class="img-fluid rounded-start" alt="wine"/>
                    </div>
                    <div th:if="${wine.photo ne null}">
                        <img src="/img/place-holder.jpg" th:src="@{|/img/${wine.photo}|}"
                             class="img-fluid rounded-start" alt="wine"/>
                    </div>
                </div>
                <div class="col-md-8 ms-4">
                    <h1 th:text="${wine.name}">Title of a longer featured blog post</h1>
                    <p class="lead" th:text="${wine.longDescription}">Long wine description.</p>

                    <p class="lead mb-0"><a href="#" class="text-white fw-bold">Continue reading...</a></p>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row mb-2 py-2">
            <ul>
                <li th:each="step:${wine.steps}">
                    <div class="card m-3">
                        <div class="row g-0">
                            <div class="col-md-8">
                                <div class="card-body">
                                    <p class="card-text" th:text="${step.description}">Krotki opis wina.</p>
                                    <p class="card-text">
                                        <small class="text-muted" th:text="'Dodano ' + ${step.dateOfStep}">Utworzono...</small>
                                    </p>
                                </div>
                            </div>
                            <div class="col-md-2">
                            </div>
                        </div>
                    </div>
                </li>
            </ul>
        </div>
    </div>


</main>
</html>